* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #434c5a;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.tech-skills-contsiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-left: 15px;
  color: #ff6b08;
}
.tech-skills-text {
  color: #d8dadd;
}

.Soft-skills-contsiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.Soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-left: 15px;
  color: #ff6b08;
}
.soft-skills-text {
  color: #d8dadd;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-top: 24px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
.Info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  min-width: max-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.tech-block {
  display: flex;
  min-width: max-content;
}

.project-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  margin-left: 17px;
}

.project-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff7011;
}

.profession-period {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
}

.profession-divider {
  color: #000000;
}
.professional-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.professional-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.education {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.education-grade {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 14px;
}

.underline {
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}
